<section class="todo-list--container">
  <div class="todo-list--title-container">
    <h3 class="todo-list--title"><%= list_title %></h3>
    <p class="todo-list--count"><%= todos.done.length %> / <%= todos.length %></p>
  </div>

  <ul class="todo-list--items">
    <% todos.all.each do |todo| %>
      <% if !todo.completed || show_done_todos %>
        <li class="todo-list--item">
          <div class="todo-list-item--container">
            <%= form_with url: "/todos/#{todo.id}", method: :put do |form| %>
              <input
                type="checkbox" <%= todo.completed ? "checked" : "" %>
                name="status"
                class="todo-list-item--status"
                onclick="this.form.submit()"
              />
            <% end %>

            <p class="todo-list-item--text <%= todo.completed ? "todo-list-item-completed--text" : "" %>">
              <%= todo.todo_text %>
            </p>

            <% if show_due_date %>
              <p class="todo-list-item--date"><%= todo.due_date.to_s(:short) %></p>
            <% end %>

            <div class="todo-list-item--delete">
              <%= form_with url: "/todos/#{todo.id}", method: :delete do |form| %>
                <input type="image" src="assets/delete.png" alt="trash"/>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
