<!DOCTYPE html>
<html>
  <head>
    <title>TodoManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app--header">
      <%= link_to "The Todo Manager", root_path, class: "app--header-title" %>
      <% if @current_user %>
        <div class="app--header-user">
          <p class="app--header-user-name"><%= @current_user.first_name %></p>
          <%= link_to "Sign-out", destroy_session_path, method: :delete %>
        </div>
      <% end %>
    </header>

    <section class="app--flash-messages-container">
    <% if flash[:error] %>
      <p class="app-flash-errors"><%= flash[:error] %></p>
    <% end %>
    </section>

    <%= yield %>
  </body>
</html>
